sudo: false
language: python
python:
  - "3.5"
##Install dependencies
install:
  - pip install -r requirements.txt
##Run tests
script:
  - sh setup_local.sh
  - sh build.sh
  - sh run_tests_full.sh
notifications:
  email:
    on_success: never
    on_failure: never
